APP_NAME=atlasq
APP_ENV=local
APP_VERSION=0.1.0
HTTP_ADDR=:8080
WORKER_METRICS_ADDR=:9090

REDIS_ADDR=redis:6379
REDIS_PASSWORD=atlasqredis
REDIS_DB=0

ASYNQ_CONCURRENCY_CRITICAL=20
ASYNQ_CONCURRENCY_DEFAULT=10
ASYNQ_CONCURRENCY_LOW=5
ASYNQ_CLIENT_QUEUE_DEFAULT=default

ASYNQMON_ADDR=:8081
ASYNQMON_REDIS_ADDR=redis:6379
ASYNQMON_REDIS_PASSWORD=atlasqredis

ELASTICSEARCH_URL=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601
LOGSTASH_HOST=logstash:5044
FILEBEAT_DOCKER_ENABLE=true

IDEMPOTENCY_TTL=24h
DEFAULT_MAX_RETRY=10
DEFAULT_TASK_TIMEOUT=60s